@font-face {
  font-family: 'handwriting';
  src: url('../font/hand.ttf')  format('truetype');
}
@font-face {
  font-family: 'cligraphy';
  src: url('../font/cligraphy.ttf')  format('truetype');
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.woff') format('woff'); /* chrome、firefox */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont.rt {
    position: absolute;
    top: 2px;
    right: -1px;
    font-size: 4rem;
    line-height: 55px;
    color: white;
}
.iconfont.lb {
    position: absolute;
    font-size: 4rem;
    color: white;
    transform: rotate(180deg);
    bottom: -8px;
    left: -1px;
}

body, html {
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
	background: #D24858; 
    overflow: hidden;
	height: 100%;
}

.swiper-slide {
    background-color: transparent !important;
}

.swiper-pagination-bullet-active {
    background-color: #EAB05E !important;
}

.v_line {
    margin-top: calc(50vh - 159px);
    font-size: 65px;
    width: 65px;
    line-height: 75px;
    display: inline-block;
    font-family: 宋体;
    font-weight: bolder;
    /* color: #ffb820; */
    color: wheat;
    zoom: 0.8;
    /* margin-left: 92px; */
    position: absolute;
    right: 68px;
    bottom: 15%;
}
.v_line_s {
    font-size: calc((100vw/3.75) * 0.2);
    width: 1.4rem;
    line-height: calc((100vw/3.75) * 0.28);
    display: inline-block;
    font-family: sans-serif;
    color: wheat;
    margin-right: 10vh;
    position: absolute;
    right: 45px;
    bottom: 60px;
    margin: 0px;
}
.v_line_s#last {
    right: 102px;
    font-size: 2rem;
    line-height: 2.5rem;
}
.i_page .choices {
/*	position: absolute;
	bottom: 15%;
    left: calc((100vw - 190px)/2);*/
}
.v_line_s.slim {
    margin-right: 5vh;
}

.v_line_s.slim#first {
    position: absolute;
    top: 40px;
    right: 0px;
}

.v_line_s.slim.choice {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 2rem;
    padding: 6px;
    border-radius: 5px;
    height: 25%;
    margin-right: 10px;
    border: 1px dashed #EAB05E;
    position: absolute;
    bottom: 15%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.48);
    background-color: rgba(234, 134, 118, 0.52);
}

.v_line_s.slim.choice.c_1 {
	left: 10%;
}
.v_line_s.slim.choice.c_2 {
	left: 30%;
}
.v_line_s.slim.choice.c_3 {
	left: 50%;
}
.v_line_s.slim.last {
    right: 100px;
}

.v_line_s.slim.choice:active {
	background-color: black;	
	color: white;
	transition: all 300ms ease-in-out;
}
.v_line_s .name {
    color: white;
    font-weight: 100;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.48);
}
.v_line_s .line {
    display: inline-block;
    padding-left: 0px;
}
.overlay {
    font-family: sans-serif;
    color: white;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0px;
    position: fixed;
    text-align: left;
    font-size: 1.8rem;
    z-index: 100;
}
.overlay span {
	font-size: 3.5rem;
    width: 100%;
    display: block;
}
.overlay div {
    margin: 20px;
}
.hint.button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    border: 5px solid #EAB05E;
    font-family: sans-serif;
    color: #FDEECD;
    bottom: 50px;
    position: absolute;
    left: calc((100vw - 50px)/2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
}
.hint.circle {
    animation: beam 1s infinite;
    -moz-animation: beam 1s infinite; /* Firefox */
    -webkit-animation: beam 1s infinite;  /* Safari 和 Chrome */
    -o-animation: beam 1s infinite;   /* Opera */

    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    border: 5px solid #FDEECD;
    font-style: italic;
    font-family: cursive;
    color: #FDEECD;
    bottom: 50px;
    position: absolute;
    left: calc((100vw - 50px)/2);
}

.hint:active {
    border-color:white;
    color: white;
}

#hint {
    z-index: 50;
}

@keyframes beam {
    0%   {
        left: calc((100vw - 50px)/2);
        width: 50px;
        height: 50px; 
    }
    60% {
        opacity: 0;
    }
    100% {
        left: calc((100vw - 200px)/2);
        opacity: 0;
        width: 200px;
        height: 200px;        
        bottom: -25px;
        border-color: #D24858;
    }
}

.swiper-container {
    /*box-shadow: inset 0 0 25px 3px black;*/
}
.couple {
    width: 60vw;
    height: 92vw;
    position: absolute;
    top: calc(50vh - 46vw);
    left: 20vw;
    background: url(./couple.jpg);
    background-size: cover;
    border-radius: 10px;
    /*box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.49);*/
}
.top {
    top: 3px;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    position: absolute;
    left: 4px;
    font-size: 3rem !important;
    transform: rotate(180deg);
    /*text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.3);*/
    color: #D24858;
}
.bottom {
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 4px;
    bottom: 3px;
    font-size: 3rem !important;
    /*text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.3);*/
    color: #D24858;
}
.xi {
    font-size: 4rem;
    line-height: 6rem;
    font-family: sans-serif;
    width: 6rem;
    height: 6rem;
    border: 6px solid white;
    border-radius: 100%;
    color: white;
    position: absolute;
    top: 25%;
    left: calc(50vw - 3rem - 3px);
}
.front {
    width: 100vw;
    display: inline-block;
    position: absolute;
    left: 0px;
    color: white;
    font-family: sans-serif;
}
.front.l_1 {
    bottom: 40%;
}
.front.l_2 {
    bottom: 35%;
}
.swiper-pagination-bullet {
    width: 3px !important;
    height: 3px !important;
}
.dl {
    position: absolute;
    color: wheat;
    font-family: sans-serif;
    background-color: #D24858;
    top: 45px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.67);
}
.dl.hp {
    width: 60vw;
    left: 0px;
    line-height: 2.2rem;
    left: 20vw;
}
.dl.xl {
    width: 2.2rem;
    height: 75vh;
    left: 15px;
    padding-top: 20px;
    line-height: 1.4rem;
}
.dl.sl {
    width: 2.2rem;
    height: 75vh;
    right: 15px;
    padding-top: 20px;
    line-height: 1.4rem;
}
.invitation {
    font-family: sans-serif;
    color: wheat;
    margin: 27px;
    text-align: left;
    line-height: 2rem;
}
.itenary {
    text-align: left;
    font-family: sans-serif;
    line-height: 2rem;
    list-style-type: none;
    color: wheat;
    font-size: 1.1rem;
    padding: 0px;
}
.save_date {
    background: url(./save_date.jpg);
    width: 90vw;
    height: 60vw;
    background-size: cover;
    box-shadow: 1px 1px 8px black;
}